<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sweettooth-settings>
            <api-settings>
                <app-site>//cdn.sweettooth.io/assets/storefront.js</app-site>
            </api-settings>
        </sweettooth-settings>
    </default>
</config>